<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> <%= title %></title>
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/categories.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/search.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>

    <body>
        <div class="ajaxbg">
            <div class="ajaxinner">
                <h3>You are now being redirected to paypal...</h3>
                <img src="/images/aheader_topjax-loader.gif" alt=""/>
            </div>
        </div>
        <div id="header_top">
            <div id="header_reg">
                <ul class="na">
                    
                    <% if (user) { %>
                    <li><a href="/users/logout">Hi, <%= user.username %> ( logout )</a></li>
                    <% } else {%>
                    <li><a href="/users/register">Register</a></li>
                    <li><a href="/users/login">Log in</a></li>
                    <% } %>
                    <% if (user && user.admin == 1) { %>
                    <li><a href="/admin/products">Administrator</a></li>
                    <% }%>
                    
                </ul>
            </div>
            <div id="header_top_nav">
                <div class="mesh_home"><a href="/">MESHMALL</a></div>
            <div>
                <input type="search" placeholder="search products, brands and categories..">
                <button type="submit" class="btn btn-default btn-success header-button">Search</button>
            </div>
            <div class="header_acc">
                <a href="/users/register"><i class="fa fa-user" aria-hidden="true"></i>
                Account</a></div>
                <div class="header_cart">
                    <a href="/cart/checkout">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                         (
                        <% if (typeof cart !== "undefined") { %>
                        <%= cart.length %>
                        <% } else {%>
                        0
                        <% } %>
                    )</a>
                </div>
            </div>
            
        </div>
        <nav class="navbar navbar-inverse" id="header_nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MeshMall</a>

                    <form action="products/all-products" class="first-form">
                        <input type="text" name="search" placeholder="Search..">
                      </form>

                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/cart/checkout">My Cart (
                                <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                                <% } else {%>
                                0
                                <% } %>
                            )</a>
                        </li>
                        <% if (user) { %>
                        <li><a href="/users/logout">Hi, <%= user.username %> ( logout )</a></li>
                        <% } else {%>
                        <li><a href="/users/register">Register</a></li>
                        <li><a href="/users/login">Log in</a></li>
                        <% } %>
                        <% if (user && user.admin == 1) { %>
                        <li><a href="/admin/products">Administrator</a></li>
                        <% }%>
                        
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        
        <div class="container">
            <!--CONTAINER TWO-->
            
            <%- messages('messages', locals) %>
            
            <% if (errors) {%>
                <% errors.forEach(function(error) { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
                <% });%>
            <% }%>
    
            <div class="row">
                <!--
                <div class="col-xs-12 col-md-3">
                    <h3>Categories</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/products/all-products">All products</a></li>
                        <% categories.forEach(function(c){ %>
                            <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
            -->
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-12 col-md-8">
                    
                





